/* Blog Grid */
/* Blog layout: grid-2 */
.blog-post-container .tutorstarter-pagination {
	align-self: flex-end;
}

.blog-post-content.layout-grid-2 {
	display: grid;
	@media screen and (min-width: 992px) {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px;
	}
}

/* Blog layout: grid-3 */
.blog-post-content.layout-grid-3 {
	display: grid;
	@media screen and (min-width: 992px) {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
	}
}

.blog-grid-post-item {
	margin-bottom: 30px;
	a {
		text-decoration: none;
	}
	.post-thumbnail {
		margin-bottom: 20px;
	}
	.post-data {
		.meta {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			font-weight: 300;
			li {
				position: relative;
				display: flex;
				align-items: center;
				&:not(:first-child) {
					padding-left: 20px;
				}
				&:not(:first-child):before {
					content: '';
					position: absolute;
					width: 5px;
					height: 5px;
					background: lightgray;
					border-radius: 50%;
					left: 8px;
				}
			}
			.category {
				a {
					margin-right: 5px;
					&:not(:last-child):after {
						content: ',';
					}
				}
			}
		}
		.title {
			color: #091e42;
			margin: 10px 0;
			font-size: 20px;
			font-weight: 500;
			line-height: 1.5em;
		}
		.excerpt {
			a {
				color: #0c77ff;
				margin-top: 10px;
				display: inline-block;
			}
		}
	}
	@media screen and (min-width: 992px) {
		grid-template-columns: 100%;
	}
	@media screen and (max-width: 991px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media screen and (max-width: 767px) {
		grid-template-columns: 100%;
	}
}
