/* Blog post single */
.single-post {
	.entry-header {
		text-align: center;
	}
	.entry-title {
		font-family: Libre Baskerville;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 65px;
		letter-spacing: 0px;
		color: #0a083b;
		margin-bottom: 24px;
	}

	.entry-meta {
		margin-bottom: 60px;
		span,
		a {
			font-family: Inter;
			font-weight: 400;
			font-size: 18px;
			line-height: 2.17;
			text-align: center;
			letter-spacing: -0.656526px;
			color: rgb(10 8 59 / 0.7);
			padding-right: 20px;
		}
		span {
			position: relative;
			display: inline-block;
			padding-right: 20px;
			&:not(:last-child):after {
				content: 'I';
				font-size: inherit;
				color: #dde3e7;
			}
		}
	}

	.post-thumbnail {
		margin-bottom: 62px;
	}

	.entry-content,
	.post-tags {
		max-width: 720px;
		margin: 0 auto;
		font-family: 'Inter', sans-serif;
		p {
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 1.72;
			letter-spacing: -0.562737px;
			color: rgba(10, 8, 59, 0.7);
			margin-bottom: 32px;
		}
		h4 {
			font-family: 'Inter', sans-serif;
			font-size: 24px;
			line-height: 1.6;
			font-weight: 500;
			letter-spacing: -0.562px;
			margin-bottom: 27px;
		}
		blockquote {
			border: none;
			padding-left: 54px;
			position: relative;
			p {
				font-size: 21px;
				font-style: normal;
				font-weight: 500;
				line-height: 34px;
				letter-spacing: -0.656px;
			}
			&::before {
				content: '"';
				font-family: 'Libre Baskerville', sans-serif;
				font-size: 104px;
				line-height: 1;
				position: absolute;
				left: 0px;
				top: 4px;
				color: rgba(10, 8, 59, 0.2);
			}
		}
	}
	.tags-links {
		display: block;
		padding-top: 10px;
		a {
			font-family: 'Inter', sans-serif;
			font-size: 16px;
			font-weight: 500;
			line-height: 19px;
			letter-spacing: -0.5px;
			display: inline-block;
			color: rgba(10, 8, 59, 0.7);
			background: #eae9f2;
			border-radius: 5px;
			padding: 10px 12px;
			transition: 0.2s linear;
			&:not(:last-child) {
				margin-right: 5px;
			}
			&:hover {
				background: #0a083b;
				color: #fff;
			}
		}
	}
	.edit-link {
		display: block;
		margin-top: 30px;
	}
}

/* Blog Sidebar */
.page-content .search-form {
	margin-top: 10px;
}
.widget,
.page-content {
	.search-form {
		position: relative;
	}
	input[type='search'] {
		width: 100%;
		height: 50px;
		border: 1px solid rgba(10, 8, 59, 0.1);
		border-radius: 6px;
		background: #fff;
		outline: none;
		color: #0a083b;
		padding: 10px;
		&:focus {
			border-color: #175cff;
		}
	}

	input.search-submit {
		position: absolute;
		right: 5px;
		top: 5px;
		height: calc(100% - 10px);
		font-family: 'Inter', sans-serif;
		font-weight: 600;
		font-size: 16px;
		line-height: 1;
		text-transform: capitalize;
		background-color: #175cff;
		color: #ffff;
		padding: 11px 26px;
		outline: 0;
		border: 1px solid #175cff;
		border-radius: 50px;
		cursor: pointer;
		transition: 0.2s linear;
		&:hover,
		&:focus {
			background-color: #0a083b;
			border-color: #0a083b;
		}
	}

	.widget-title {
		font-family: 'Inter', sans-serif;
		font-size: 20px;
		font-weight: 600;
		color: #0a083b;
	}
	a {
		color: inherit;
		&:hover {
			text-decoration: underline;
			color: #0a083b;
		}
	}
}

/* Blog Comments area */
.comment-reply-title {
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	line-height: 1.6;
	font-weight: 500;
	letter-spacing: -0.562px;
}

.comments-area {
	margin-top: 30px;
	margin-bottom: 50px;
}

.comment-form {
	label {
		display: block;
		margin-bottom: 5px;
	}
	.comment-form-cookies-consent label {
		display: inline-block;
	}

	input[type='text'],
	input[type='email'],
	input[type='url'],
	textarea {
		width: 100%;
		height: 50px;
		resize: vertical;
		border: 1px solid rgba(10, 8, 59, 0.1);
		border-radius: 6px;
		background: #fff;
		outline: none;
		color: #0a083b;
		padding: 10px;
		margin-bottom: 20px;

		&:focus {
			border-color: #175cff;
		}
	}
	textarea {
		height: 100px;
	}

	.form-submit {
		input[type='submit'] {
			background-color: #175cff;
			font-family: 'Inter', sans-serif;
			font-weight: 600;
			font-size: 16px;
			text-transform: capitalize;
			color: #ffff;
			padding: 11px 26px;
			outline: 0;
			border: 1px solid #175cff;
			border-radius: 50px;
			cursor: pointer;
			transition: 0.2s linear;
			display: inline-block;
			width: auto;
			height: auto;

			&:hover,
			&:focus {
				background-color: #0a083b;
				border-color: #0a083b;
			}
		}
	}
}

/* Blog Layout: override */
.blog-post-content {
	.type-post {
		background: #ffffff;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
		border-radius: 8px;
		transition: box-shadow 0.3s linear;
		&:hover {
			box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
			.post-thumbnail img {
				transform: scale(1.1);
			}
		}
	}

	.post-thumbnail {
		overflow: hidden;
		border-radius: 10px 0px 0px 10px;
		img {
			border-radius: 10px 0px 0px 10px;
			transition: transform 0.3s linear;
			transform: scale(1);
		}
	}

	.entry-title {
		font-size: 18px;
		line-height: 1.61111em;
		letter-spacing: -0.66px;
		margin-bottom: 30px;
	}

	.entry-meta {
		margin-bottom: 20px;
	}

	.excerpt {
		font-size: 16px;
		line-height: 1.815em;
		letter-spacing: -0.5px;
		margin-bottom: 20px;
	}

	.post-data {
		color: #0a083b;
		padding: 20px 30px;
	}

	.entry-meta,
	.excerpt {
		opacity: 0.7;
	}
}

// Blog Default
.blog-post-default {
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.08);
	.entry-header {
		text-align: center;
		padding-top: 20px;
	}
	.entry-title {
		font-size: 22px;
		margin-bottom: 10px;
	}
	.entry-meta {
		margin-bottom: 20px;
	}
	.post-thumbnail,
	.post-thumbnail img {
		border-radius: 0;
	}
	.post-data {
		padding: 10px 30px 30px 30px;
	}
}

// Blog List
.blog-post-item {
}

// Blog Grid
.blog-grid-post-item {
	.post-thumbnail {
		border-radius: 10px 10px 0 0;
		img {
			border-radius: 10px 10px 0 0;
		}
	}
	.post-data {
		padding: 8px 30px 28px;
	}
}

/* Pagination */
.tutorstarter-pagination {
}
.page-numbers {
	&.current {
	}
}
