/* CSS for Contact Form 7*/
.wpcf7 .wpcf7-form-control {
    width: 100% !important;
    outline: none !important;
    border-radius: 6px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--tutor-text-primary);
    font-family: inherit;
    padding: 0 20px;
    font-size: 16px;
    height: 48px;
    border-width: 1px !important;
    border-style: solid;
    border-color: #c0c3cb;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.wpcf7 textarea.wpcf7-form-control {
    height: 100%;
    padding: 20px;
}
.wpcf7 .wpcf7-submit {
    text-decoration: none;
    font-weight: 500;
    border-radius: 3px;
    border: 0px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 200ms;
    transition: 200ms;
    line-height: 26px;
    font-size: 16px;
    background: #3e64de;
    color: #fff;
}
