footer {
	position: relative;
}

section.footer-widgets {
	margin-top: 100px;
	padding-top: 70px;
	padding-bottom: 30px;
	background: var(--footer-widget-bg-color);
	& ul li a {
		color: var(--footer-widget-text-color);
		font-size: $base-fs;
		font-weight: 700;
		line-height: 32px;
		list-style: none;
	}
	.widget {
		p {
			color: var(--footer-widget-text-color);
		}
	}
	.widget-title {
		color: var(--footer-widget-text-color);
		font-family: inherit;
		font-size: var(--widget-title-font-size);
		font-weight: var(--widget-title-font-weight);
		line-height: var(--widget-title-line-height);
		text-transform: var(--widget-title-text-transform);
	}
	.widget_nav_menu .menu-footer-menu-container .menu-item a {
		color: var(--footer-widget-text-color)
	}
}

.row {
	&#secondary-menu li {
		list-style: none;
		padding: 0 10px;
		
		& a {
			font-size: $base-fs;
			color: var(--footer-bottom-text-color);
		}
	}
}
.site-footer {
	background: var(--footer-bottom-bg-color);
}

.footer-bottom-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	span.copyright {
		color: var(--footer-bottom-text-color);
		margin-left: 20px;
	}
}

.footer-menu {
	display: flex;
	align-items: center;
	justify-content: space-around;	
}

.site-info {
	display: flex;
	flex: auto;
	align-items: center;
	justify-content: flex-start;
}

@media (max-width: 991px) {
	.widget-title {
		font-size: var(--widget-title-font-size-tablet)!important;
		line-height: var(--widget-title-line-height-tablet)!important;
	}
}

@media (max-width: 767px) {
	section.footer-widgets {
		text-align: center;
	}
	.widget-title {
		font-size: var(--widget-title-font-size-mobile)!important;
		line-height: var(--widget-title-line-height-mobile)!important;
	}
	.socials {
		display: flex;
		justify-content: center;
	}
	.site-info {
		flex-direction: column;
		align-items: center;
	}
	#logo-footer {
		margin-bottom: 8px;
	}
	.footer-menu {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.menu-footer-menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-left: -40px;
	}
	.copyright-container span.copyright {
		text-align: center;
		justify-self: center;
	}
}
