section.tutor-theme-getting-starter{
  .getting-started-page-heading {
        font-family: Libre Baskerville;
        font-weight: bold;
        font-size: 48px;
        line-height: 65px;
        color: #0A083B;
        padding: 120px 0px 200px 0px;
  }
  .sign-type {
    border: 1.5px solid rgba(10, 8, 59, 0.1);
  }
  .tutor-theme-signing-type {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(auto, 350px) );
    grid-gap: 30px;
    justify-content: center;
    .sign-as-instructor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 60px 0px;
      border-radius: 6px;
      .signing-type-icon {
        background: rgba(23, 92, 255, 0.04);
        padding: 27px 19px;
        border-radius: 8px;
        margin-bottom: 14px;
      }
      .signing-title {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #0A083B;
      }
    }
    .sign-as-student {
      @extend .sign-as-instructor;
    }
  }
  .getting-started-footer {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      color: #0A083B;
      opacity: 0.7;
      padding: 160px 0px 130px 0px;
  }
}

@media (max-width: 767px) {
  section.tutor-theme-getting-starter{
    .getting-started-page-heading {
      font-size: 35px;
      padding: 80px 0px 50px 0px;
    }
    .getting-started-footer {
      padding: 60px 0px 60px 0px;
    }
  }
}