header.default {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-default {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
	position: relative;
	//transition: 0.3s linear;
}

.call-to-action {
	padding: 10px 33px;
	border-radius: 108px;
	border: 1px solid var(--cta-background-color);
	//@debug: var(--cta-background-color);
	font-family: inherit;
	font-size: var(--cta-font-size);
	font-weight: var(--cta-font-weight);
	color: var(--cta-text-color);
}

header.alternative {
	box-shadow: 0px 5px 15px 0px rgba(#000, 0.15);
}

.navbar {
	ul {
		list-style: none;
		a {
			text-decoration: none;
		}
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 50px;
	position: relative;
	//transition: 0.3s linear;
	.navbar-toggler,
	a,
	.utils-search {
		color: var(--menu-link-color);
	}
	.navbar-utils > * {
		cursor: pointer;
	}

	.btn-search {
		font-size: 1.5rem;
		color: var(--menu-link-color);
		background: transparent;
		outline: none;
		border: none;
		cursor: pointer;
	}
}

.navbar-nav {
	display: flex;
	list-style: none;
	a {
		padding: 5px;
		text-decoration: none;
		font-family: inherit;
		font-size: var(--header-font-size);
		font-weight: var(--header-font-weight);
		line-height: var(--header-font-lineheight);
		text-transform: var(--header-font-transform);
		display: block;
		//transition: 150ms ease;
		&:hover {
			color: var(--active-menu-color);
		}
	}
	.menu-item {
		margin: 0 10px;
        position: relative;
	}
	> .menu-item {
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: -16px;
			background: var(--active-menu-color);
			transition: 400ms ease;
			transform: scaleX(1.5);
			opacity: 0;
		}
		&:hover:after {
			transform: scaleX(1);
			opacity: 1;
		}
    }
    .menu-item.current-menu-item {
        &:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: -16px;
			opacity: 1;
		}
	}
	.menu-item.current-menu-item > a {
		color: var(--active-menu-color);
	}
}

.menu-one {
	display: flex;
	list-style: none;
	> li {
		&:not(:first-child) {
			margin: 0px 0px 0px 30px;
		}
		
	}
	li {
		position: relative;
		padding: 0px;
		&:before {
			content: "";
			position: absolute;
			width: 0px;
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: #175CFF;
			transition: all 0.4s ease-in-out;
		}
		&:hover  {
			&:before {
				width: 40px;
			}
		}		
		a {
			padding: 0px 0px;
			text-decoration: none;
			font-family: inherit;
			color: var(--menu-link-color);
			font-size: var(--header-font-size);
			font-weight: var(--header-font-weight);
			line-height: var(--header-font-lineheight);
			text-transform: var(--header-font-transform);
			display: block;
			//transition: 150ms ease;
			&:hover {
				color: var(--active-menu-color);
			}
		}
	}

	.menu-item {
		position: relative;
		// &:not(:first-child) {
		// 	margin: 0px 0px 0px 30px;
		// }
	}
	> .menu-item {
		&:after {
			content: "";
			display: none;
		}
		&:hover:after {
			display: none;
		}
    }
    .menu-item.current-menu-item {
        &:after {
			content: "";
			display: none;
		}
	}
	.menu-item.current-menu-item > a {
		color: var(--active-menu-color);
	}
}

.navbar-toggler {
	padding: 0.1rem 0.45rem;
	cursor: pointer;
	font-size: 1.5rem;
	background: none;
	outline: none;
	border: none;
	border-radius: 3px;
	transition: 0.15s linear;
	display: none;
	margin-left: auto;
	margin-right: 20px;
	&:hover,
	&:focus,
	&:active {
		box-shadow: 0 0 0 2px rgba(#000, 0.36);
		outline: none;
	}
}

/* Navbar options (bg options) */
#masthead {
	background: var(--primary-menu-bg-color);
	padding: 20px 0px;
}

.nav-search-icon {
	fill: var(--menu-link-color);
}

.bg-primary {
	background: var(--primary-menu-bg-color);
	//z-index: 99999;
	.navbar-toggler,
	a,
	.utils-search {
		color: var(--menu-link-color);
	}
	.menu-item:after {
		background: var(--active-menu-color);
	}
}

.bg-transparent {
	background-color: transparent;
	.navbar-toggler,
	a,
	.utils-search {
		color: var(--menu-link-color);
	}
	.menu-item:after {
		background: var(--active-menu-color);
	}
}

@media (min-width: 992px) {
	.bg-blur {
		-webkit-backdrop-filter: blur(3px);
		backdrop-filter: blur(3px);
		background: rgba(#fff, 0.6);
		z-index: 999;
		.navbar-toggler,
		a,
		.utils-search {
			color: var(--menu-link-color);
		}
		.menu-item {
			&:hover > a {
				color: var(--active-menu-color);
			}
			&:after {
				background: var(--active-menu-color);
			}
		}
	}
}

/* Common Hover */
.bg-blur {
	.menu-item {
		&:hover > a {
			color: var(--active-menu-color);
		}
		&:after {
			background: var(--active-menu-color);
		}
	}
}

/* Dropdown CSS */
.menu-item {
	.sub-menu {
		width: 200px;
		display: block;
		position: absolute;
		top: 35px;
		transition: 300ms;
		padding: 10px;
		opacity: 0;
		visibility: hidden;
		transform: translateY(5px);
		border-top: 1px solid rgba(0, 0, 0, 0.15);
		background: var(--primary-menu-bg-color);
		border-radius: 4px;
		z-index: 999;
		box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.15);
		a {
			color: var(--menu-link-color);
		}
		.sub-menu {
			top: 0;
			left: calc(100% + 20px);
			border-top: 0;
			border-left: 1px solid rgba(0, 0, 0, 0.15);
			&:before {
				top: 10px;
				left: -10px;
				border: 5px solid transparent;
				border-right-color: #000;
			}
		}
		&:before {
			content: "";
			position: absolute;
			top: -10px;
			left: 10px;
			border: 5px solid transparent;
			border-bottom-color: var(--menu-link-color);
			display: none;
		}
		.menu-item:not(:last-child) {
			margin-bottom: 5px;
		}
		> .menu-item:hover > a {
			color: var(--active-menu-color);
		}
	}
	&:hover > .sub-menu {
		opacity: 1;
		visibility: visible;
		transform: translateY(0px);
	}
	&:hover > a::before {
		transform: rotate(90deg);
	}
}

.nav-close {
	margin-left: auto;
	margin-top: 10px;
	display: none;
	.btn-nav-close {
		outline: 0;
		font-size: 1rem;
		width: 30px;
		height: 30px;
		border: 2px solid var(--menu-link-color);
		text-align: center;
		line-height: 1.7rem;
		border-radius: 100%;
		background: var(--primary-menu-bg-color);
		color: var(--menu-link-color);
		cursor: pointer;
	}
}

.menu-item.icon {
	> a:before {
		content: "";
		position: absolute;
		right: -13px;
		top: calc(51% + 0px);
		transform: translateY(-50%) rotate(45deg);
		border-left-color: inherit;
		transition: 0.15s linear;
		background: #57586E;
		width: 1px;
		height: 6px;
	}
	> a:after{
		content: "";
		position: absolute;
		right: -9px;
		top: 51%;
		border-left-color: inherit;
		transition: 0.15s linear;
		transform: translateY(-50%) rotate(135deg);
		background: #57586E;
		width: 1px;
		height: 6px;
	}
	&:hover > a::before {}
}

/* Responsive (navbar alignments options) */
@media (min-width: 992px) {
	.navbar-brand,
	.navbar-utils {
		flex: auto;
	}
	.navbar-nav {
		flex: 2;
		justify-content: center;
	}
	.navbar-utils {
		text-align: right;
	}

	.navbar-left {
		.navbar-nav {
			order: 1;
			justify-content: flex-start;
		}
		.navbar-brand {
			order: 2;
			text-align: center;
		}
		.navbar-utils {
			order: 3;
		}
	}

	.navbar-right {
		.navbar-brand,
		.navbar-utils {
			flex: initial;
		}
		.navbar-nav {
			justify-content: flex-end;
			margin-right: 20px;
		}
	}

	.navbar-right {
		.sub-menu .sub-menu {
			left: unset;
			right: calc(100% + 20px);
			border-top: 0;
			border-right: 1px solid rgba(0, 0, 0, 0.15);
		}
	}

	.navbar-left {
		.navbar-brand {
			text-align: right;
		}
		.navbar-toggler {
			display: block;
			margin-right: 0;
		}

		.navbar-nav {
			background: var(--primary-menu-bg-color);
			flex-direction: column;
			z-index: 99999;
			padding: 0 20px;
			opacity: 0;
			transition: 400ms ease;

			/* Sidebar */
			position: fixed;
			left: 0;
			top: 0;
			width: 300px;
			height: 100%;
			overflow-y: scroll;
			box-shadow: 0px 0px 0 2000px rgba(#000, 0.5);
			transform: translateX(-300px);

			a {
				margin: 10px 0;
				color: var(--menu-link-color);
				display: flex;
				align-items: center;
			}
			> .menu-item {
				&:first-child {
					margin-top: 20px;
				}
				&:last-child {
					margin-bottom: 20px;
				}
			}
			.menu-item {
				&:not(:last-child) {
					border-bottom: 1px solid rgba(#000, 0.1);
				}
				&:hover > a {
					color: var(--active-menu-color);
				}
			}
			> .menu-item:after {
				display: none;
			}

			.nav-close {
				display: block;
			}
		}
		.navbar-nav.active {
			max-height: initial;
			opacity: 1;
			transform: translateX(0);
		}
		.menu-item {
			.sub-menu {
				padding: 0;
				position: initial;
				max-height: 0;
				width: initial;
				border: none;
				box-shadow: none;
				.sub-menu {
					border: none;
				}

				&:before {
					display: none;
				}
			}
			&:hover > .sub-menu {
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
				max-height: initial;
			}
		}
		.menu-item.icon a:before {
			top: unset;
			right: 0;
		}
	}
}

@media (max-width: 991px) {
	.navbar-toggler {
		display: block;
	}
	.navbar-nav {
		flex-direction: column;
		z-index: 99999;
		padding: 0 20px;
		opacity: 0;
		transition: 400ms ease;
		background: var(--primary-menu-bg-color);

		/* Sidebar */
		position: fixed;
		left: 0;
		top: 0;
		width: 300px;
		height: 100%;
		overflow-y: scroll;
		box-shadow: 0px 0px 0 1000px rgba(#000, 0.5);
		transform: translateX(-300px);

		a {
			font-size: var(--header-font-size-tablet);
			line-height: var(--header-font-lineheight-tablet);
			margin: 10px 0;
			color: var(--menu-link-color);
			display: flex;
			align-items: center;
		}
		> .menu-item {
			&:first-child {
				margin-top: 20px;
			}
			&:last-child {
				margin-bottom: 20px;
			}
		}
		.menu-item {
			&:not(:last-child) {
				border-bottom: 1px solid rgba(#000, 0.1);
			}
			&:hover > a {
				color: var(--menu-link-color);
			}
		}
		> .menu-item:after {
			display: none;
		}

		.nav-close {
			display: block;
		}
	}
	.navbar-nav.active {
		max-height: initial;
		opacity: 1;
		transform: translateX(0);
	}
	.menu-item {
		.sub-menu {
			padding: 0;
			position: initial;
			max-height: 0;
			width: initial;
			border: none;
			box-shadow: none;
			.sub-menu {
				border: none;
			}

			&:before {
				display: none;
			}
		}
		&:hover > .sub-menu {
			opacity: 1;
			visibility: visible;
			transform: translateY(0px);
			max-height: initial;
		}
	}
	.menu-item.icon a:before {
		top: unset;
		right: 0;
		transform: translateY(0px);
	}
	.call-to-action {
		padding: 12px 14px;
		overflow: hidden;
		background: var(--cta-background-color);
		font-size: var(--cta-font-size-tablet);
		color: var(--cta-text-color);
		text-align: center;
	}
}

@media (max-width: 767px) {
	.navbar-nav {
		a {
			font-size: var(--header-font-size-mobile);
			line-height: var(--header-font-lineheight-mobile);
		}
	}
	.call-to-action {
		font-size: var(--cta-font-size-mobile);
	}
}

/* Search Popup */
.search-popup {
	opacity: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999999;
	display: grid;
	place-items: center;
	box-shadow: inset 0 0 0 1000px rgba(#000, 0.5);
	transition: 200ms;
	&.active {
		opacity: 1;
		visibility: visible;
		form {
			transform: translateY(0px);
		}
	}
	form {
		position: absolute;
		background: #fff;
		width: 500px;
		height: 200px;
		display: grid;
		place-items: center;
		padding: 30px;
		border-radius: 6px;
		box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
		transition: 200ms;
		transform: translateY(10px);
	}

	.btn-search-close {
		position: absolute;
		top: 10px;
		right: 15px;
		background: transparent;
		border: 0;
		outline: 0;
		font-size: 3rem;
		cursor: pointer;
	}

	input[type="search"] {
		width: 100%;
		height: 70px;
		border: none;
		outline: none;
		border: 1px solid #cccccc;
		border-radius: 4px;
		font-size: 2rem;
		font-weight: 300;
		padding: 0px 10px;
		transition: 100ms;
		&:focus {
			box-shadow: 0 0 0 3px rgba(0, 129, 255, 0.43);
			border-color: transparent;
		}
		&::-webkit-input-placeholder {
			color: #b3b3b3;
		}
	}
}

@media (max-width: 576px) {
	.search-popup {
		form {
			width: calc(100% - 30px);
			height: 170px;
			padding: 15px;
		}
	}
}
