
section.tutor-theme-signin {
  background: #F7F9FA;
  padding: 100px 0px;
  .tutor-theme-signin-form-area {
    max-width: 678px;
    box-sizing: border-box;
    margin: 0 auto;
    .tutor-theme-signin-form-area-row  {
      padding: 60px 100px;
      background: $white;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      .tutor-theme-signin-form-area-heading {
        font-family: Libre Baskerville;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: #0A083B;
        padding: 0px 0px 40px 0px;
      }
      .tutor-theme-signin-form {
        form {
          .form-grp {
            margin-bottom: 30px;
            label {
              display: block;
              font-family: Inter;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: #0A083B;
              margin-bottom: 12px;
              a {
                float: right;
                color: $blue;
                font-weight: normal;
              }
            }
            input {
              background: rgba(255, 255, 255, 0.0001);
              border: 1.5px solid rgba(10, 8, 59, 0.1);
              border-radius: 6px;
              width: 100%;
              padding: 19px 25px;
              box-sizing: border-box;
              transition: all 0.3s ease-in-out;
              &::placeholder {
                font-size: 16px;
                line-height: 19px;
                color: rgba(10, 8, 59, 0.5);
              }
              &:focus {
                outline: 0;
                border: 1.5px solid rgba(10, 8, 59, 0.25);
              }
            }
          }
          .form-grp.signin-form-terms-condition {
            font-family: Inter;
            font-size: $base-fs;
            font-style: normal;
            font-weight: normal;
            line-height: 26px;
            text-align: center;
            color: #57586E;
            a {
              color: $blue;
              text-decoration: underline;
            }
          }
          button {
            background: #175CFF;
            border-radius: 33px;
            width: 100%;
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            align-items: center;
            text-align: center;
            color: $white;
          }
        }
      }
    }
    .tutor-theme-signin-form-area-row.tutor-theme-social-signin {
      padding: 40px 100px;
      button {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.514286px;
        background: #4285f4;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
        border-radius: 210px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        color: $white;
        //padding: 12px 30px;
      }
    }
    .already-have-account-link {
      color : #57586E;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 29px;
      a {
        text-align: center;
        color: $blue;
      }
    }
  }
}

@media (max-width: 767px) {

  section.tutor-theme-signin {
    .tutor-theme-signin-form-area {
      .tutor-theme-signin-form-area-row  {
        padding: 40px 40px;
      }
      .tutor-theme-signin-form-area-row.tutor-theme-social-signin {
        padding: 40px 40px;
        button {
          svg {
            width: 16px;
          }
          gap: 10px;
        }
      }
    }
  }

}

