#masthead
    .tutor-nav
    .tutor-navbar-col.tutor-navbar-menu
    .tutor-navbar-cart
    .tutor-header-profile-menu
    ul {
    overflow-y: auto !important;
}

.tutor-option-field-row label,
.tutor-form-group label {
    color: #0a083b;
}

.single_add_to_cart_button,
a.tutor-button,
.tutor-button,
a.tutor-btn,
.tutor-btn {
    font-size: 16px;
    padding: 15px 80px;
    border-radius: 33px;
    background-color: #1950d1;
    border: 1px solid #1950d1;
}

.tutor-header-profile-photo img {
    line-height: 30px;
    max-height: 30px;
    max-width: 30px;
    border-radius: 50%;
}

.tutor-wrap .tutor-login-wrap {
    margin-bottom: 70px;
}

form.tutor-ResetPassword.lost_reset_password {
    padding: 50px 180px;
}

// Elementor Addon Style Overrides
.etlms-loop-cart-btn-wrap a.added_to_cart {
    padding-left: 5px;
}

@media only screen and (max-width: 991px) {
    form.tutor-ResetPassword.lost_reset_password {
        padding: 20px;
    }
}

@media only screen and (max-width: 767px) {
    form.tutor-ResetPassword.lost_reset_password {
        padding: 20px;
    }
}
