.tutor-option-field textarea:focus, 
.tutor-option-field input:not([type="submit"]):focus, 
.tutor-form-group textarea:focus, 
.tutor-form-group input:not([type="submit"]):focus {
    background: #ffffff;
    border: 1.5px solid rgba(10, 8, 59, 0.25);
}

.tutor-option-field textarea:focus, 
.tutor-form-group textarea:focus, 
.tutor-option-field input:focus, 
.tutor-form-group input:focus {
    outline: none;
}
.tutor-option-field textarea, .tutor-option-field select,
.tutor-option-field input[type="text"], 
.tutor-option-field input[type="number"], 
.tutor-option-field input[type="pas.tutor-dashboard-content-innersword"], 
.tutor-form-group textarea, .tutor-form-group select, 
.tutor-form-group input[type="text"], 
.tutor-form-group input[type="number"], 
.tutor-form-group input[type="password"] {
    border: 1.5px solid rgba(10, 8, 59, 0.1);
}