.tutor-option-field-row label,
.tutor-form-group label {
    color: #0A083B;
}

.single_add_to_cart_button,
a.tutor-button,
.tutor-button,
a.tutor-btn,
.tutor-btn {
    font-size: 16px;
    padding: 15px 80px;
    border-radius: 33px;
    background-color: #175CFF;
    border: 1px solid #175CFF;
}

.tutor-header-profile-photo img{
    line-height: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}