.tutor-option-field-row label,
.tutor-form-group label {
    color: #0A083B;
}

.single_add_to_cart_button,
a.tutor-button,
.tutor-button,
a.tutor-btn,
.tutor-btn {
    font-size: 16px;
    background-color: #175CFF;
}