.tutor-wrap {
    .tutor-login-wrap {
        margin-top: 70px;
        .tutor-template-login-form {
            .tutor-login-form-wrap {
                form {
                    //input:not([type="submit"]),
                    input:not([type="checkbox"]) {
                        background: rgba(255, 255, 255, 0.0001);
                        border: 1.5px solid rgba(10, 8, 59, 0.1);
                        border-radius: 6px;
                        width: 100%;
                        padding: 5px 25px;
                        box-sizing: border-box;
                        transition: all 0.3s ease-in-out;
                        &::placeholder {
                          font-size: 16px;
                          line-height: 19px;
                          color: rgba(10, 8, 59, 0.5);
                        }
                        &:focus {
                          outline: 0;
                          border: 1.5px solid rgba(10, 8, 59, 0.25);
                        }
                    }
                    input[type="submit"] {
                        background: var(--link-color);
                        border-radius: 33px;
                        padding: 15px 25px;
                        width: 100%;
                        font-family: var(--body-font);
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        align-items: center;
                        text-align: center;
                        color: $white;
                    }
                }
            }
        }
    }
}
