.tutorstarter-control-header {
    margin-bottom: 7px;
}

.tutorstarter-background-control {
    .customize-control-description {
        margin-bottom: 0 !important;
        margin-top: 10px !important;
    }
}

.tutorstarter-background-control {
    border: 1px solid #7e8993;
    border-radius: 3px;
    padding: 10px;
    background: #ffffff;
}

.flex-contents {
    display: flex;
    align-items: center;
}
