.qubelystarters-radio-image {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;

	.option {
		text-align: center;
		padding: 5px;
	}

	label {
		margin: 0 auto;
		flex-direction: column;
		display: flex;
	}

	span {
		margin-top: 7px;
		color: #7e8993;
		font-weight: 800;
		font-size: 8px;
		line-height: 18px;
		text-transform: uppercase;
	}

	button {
		cursor: pointer;
		border: none;
		padding: 0;
		
		&.active {
			padding: 4px;
			outline: 3px solid #007cba;
		}

		img {
			width: 100%;
			display: block;
		}
	}
}

#customize-control-header_type_select .qubelystarters-radio-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	.option {
		text-align: center;
		padding: 5px;
	}

	label {
		margin: 0 auto;
		flex-direction: column;
		display: flex;
	}

	span {
		margin-top: 7px;
		color: #7e8993;
		font-weight: 800;
		font-size: 9px;
		line-height: 18px;
		text-transform: uppercase;
	}

	button {
		cursor: pointer;
		border: none;
		padding: 0;
		
		&.active {
			padding: 4px;
			outline: 3px solid #007cba;
		}

		img {
			width: 100%;
			display: block;
		}
	}
}
