.qubelystarters-range-control {
	.range-wrap {
		display: flex;
		align-items: center;
		justify-items: flex-end;

		.components-number-control {
			width: 25%;
		}

		.components-range-control {
			> div {
				margin-bottom: 0;
			}

			flex-grow: 1;
		}
	}
}
