h1.entry-title {
	padding: 30px 0;
}
.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
	width: 160px;
	text-align: center;
}
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
	float: left;
	box-sizing: border-box;
	border: 1px solid #d3ced2;
	padding: 9px 10px 9px 10px;
	border-radius: 3px;
	margin: 0 4px 0 0;
	outline: 0;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background-color: #175cff;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	transition: all 0.3s ease-in-out;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
	background-color: #0d48d4;
}

.woocommerce a.remove {
	color: #de8080 !important;
}

.woocommerce a.remove:hover {
	background: #d04242;
}

.woocommerce-message {
	border-top-color: #175cff;
}

.woocommerce-message::before {
	content: '\e015';
	color: #0d48d4;
}

/** New Override classes */
.woocommerce-cart {
	background: #f7f9fa;
}
.tutorstarter-cart-container {
	// width: 100%;
	// display: flex;
	// align-items: flex-start;
	display: grid;
	@media (min-width: 992px) {
		grid-template-columns: auto 3fr auto;
		grid-template-columns: 65.5% auto;
	}
	grid-gap: 30px;

	.cart-page-heading,
	.cart-summary h2 {
		font-family: 'Libre Baskerville';
		font-weight: 700;
		font-size: 26px;
		line-height: 48px;
		color: #0a083b;
		margin-bottom: 24px;
	}
	.cart-product-title a,
	.cart-product-price {
		font-weight: 600;
		font-size: 16px;
		line-height: 1.5;
		color: #0a083b;
	}
	.cart-product-remove a {
		font-size: 16px;
		line-height: 19px;
		color: #175cff;
	}
	.cart-product-price {
		margin-bottom: 4px;
	}

	.form-container {
		// width: 65%;
	}

	.cart-contents {
		display: grid;
		align-items: center;
		@media (min-width: 480px) {
			grid-template-columns: auto 3fr auto;
			grid-gap: 30px;
		}

		grid-gap: 15px;
	}
	.cart-contents:not(:last-child) {
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	.cart-product-image img {
		border-radius: 8px;
	}

	.cart-collaterals-container {
		// width: 35%;
		max-width: 450px;

		.cart-collaterals {
			.cart-summary {
				.cart_totals {
					width: 100%;
					.checkout-button {
						padding: 15px !important;
						margin-top: 13px;
						margin-bottom: 30px;
					}
					.wc-proceed-to-checkout {
						padding: 0 !important;
					}
				}
				table.shop_table {
					border: none;
					box-shadow: none;
					th,
					td {
						padding: 18px 0px;
					}
					td {
						text-align: right;
					}
					tr.cart-subtotal th,
					tr.order-total th {
						font-size: 16px;
						font-weight: 400;
						line-height: 1.5;
						color: rgba(10, 8, 59, 0.7);
					}
					.cart-subtotal .woocommerce-Price-amount.amount,
					tr.order-total th {
						font-weight: 500;
						color: #0a083b;
					}
					.order-total .woocommerce-Price-amount.amount {
						font-weight: 600;
						font-size: 26px;
						color: #0a083b;
					}
				}
			}

			.cart-coupon {
				width: 100%;
				float: right;
				border-top: 1px solid #ebebeb;
				padding-top: 30px;
				form {
					position: relative;
					input {
						font-weight: 400;
						font-size: 16px;
						line-height: 19px;

						width: 478px;
						width: 100%;
						height: 58px;

						color: rgba(10, 8, 59, 0.5);
						background: #ffffff;
						border: 1.5px solid rgba(10, 8, 59, 0.1);
						border-radius: 40px;
						outline: none;
						padding: 10px 22px;
						position: relative;
						&:focus {
							border-color: #175cff;
							color: #0a083b;
						}
					}
					button {
						cursor: pointer;
						position: absolute;
						outline: none;
						font-weight: 600;
						font-size: 16px;
						line-height: 1.31;
						background: #175cff;
						color: #fff;
						border-radius: 108px;
						border: 1px solid #175cff;
						padding: 10px 23.5px;
						right: 8px;
						top: 8px;
						height: calc(100% - 16px);
						transition: 0.2s linear;
						&:hover,
						&focus {
							border-color: #0a083b;
							background: #0a083b;
						}
					}
				}
			}
		}
	}
}

.cart-contents-wrapper,
.cart-collaterals {
	background: #ffffff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	padding: 30px;
}
