.woocommerce .woocommerce-Button.button[value="Save"] {
    background: #175cff !important;
    width: 170px;
    border-radius: 33px !important;
    padding: 18px 30px !important;
    color: #fff !important;
}

.woocommerce form .show-password-input,
.woocommerce-page form .show-password-input {
    position: absolute;
    right: .7em;
    top: 2.5em;
    cursor: pointer;
}