.checkout-button,
.button.wc-backward,
.place_order {
	background: var(--link-color);
	border-radius: 33px !important;
	padding: 15px 20px !important;
	font-family: var(--body-font);
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #fff !important;
	margin-top: 20px;
}
