.checkout-button,
.button.wc-backward,
.place_order {
	background: #175cff !important;
	border-radius: 33px !important;
	padding: 20px 30px !important;
	font-family: Inter;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #fff !important;
	margin-top: 20px;
}
