.ocdi__title,
.ocdi__intro-text {
    display: none;
}

.ocdi__title-container, 
.ocdi__theme-about, 
.plugin-item-all-in-one-seo-pack, 
.plugin-item-google-analytics-for-wordpress, 
.ocdi-content-notice--warning{
    display: none !important;
}

@media (min-width: 1120px) {
    .ocdi__gl-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25% - 30px);
        flex: 0 0 calc(25% - 30px);
        margin-bottom: 30px;
        margin-right: 30px;
    }
}

li#toplevel_page_tutorstarter a .dashicons-before img {
    width: 18px;
    margin-left: 10px;
    margin-top: -1px;
}

.tutorstarter-opt-wrapper {
    background: #f1f1f1;
    color: #333;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.4em;
    padding-bottom: 30px;
}
.tutorstarter-opt-container {
    max-width: 100%;
    margin: 0 auto;
    @media screen and (min-width: 992px) {
        width: 80%;
    }
    @media screen and (max-width: 991px) {
        width: 100%;
    }
}
.tutorstarter-opt-header {
    background-color: transparent;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;

    .header-content {
        display: flex;
        align-items: center;
        justify-content: center;
        .thm-title {
            font-size: inherit;
            //line-height: 30px;
            margin-right: 10px;
        }
    }
}

.tutorstarter-opt-container {
    .tutorstarter-opt-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .tutorstarter-opt-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            background: #ffffff;
            margin: 20px;
            width: 25%;
            min-height: 200px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
            transition: 0.35s linear;
            text-decoration: none;
            span {
                font-size: 25px;
            }

            p {
                font-size: 17px;
            }
            &:hover {
                box-shadow: 0px 30px 60px -10px rgb(0 28 73 / 15%);
            }

            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
    }
}
