.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    & a {
        margin: 0 5px;
        padding: 5px 15px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid #8ec7f7;
        border-radius: 50px;
    }
}