body {
    font-family: $base-font;
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    text-transform: var(--body-text-transform);
    line-height: var(--body-font-lineheight);
    
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 991px) {
    body {
        font-size: var(--body-font-size-tablet);
        line-height: var(--body-font-lineheight-tablet);
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: var(--body-font-size-mobile);
        line-height: var(--body-font-lineheight-mobile);
    }
}
