a{
    cursor: pointer;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
    border-collapse: collapse;
    th,
    td {
        padding: 0.5em 1.41575em;
    }
}

ul, ol,
li > ul, 
li > ol {
    padding-left: 2rem;
}

ul ul {
    list-style-type: circle;
}


blockquote {
    font-size: 1.1em;
    line-height: 1.5;
    font-style: italic;
    font-weight: 600;
    position: relative;
    margin: 1em 0;
    padding-left: 1em;
    &:before {
        content: "\"";
        position: absolute;
        font-size: 1.5em;
        line-height: 1.1;
        top: 0;
        left: 0;
    }
}

dl{
    dt {
        font-size: 1.2em;
        line-height: 2;
        font-weight: bold;
    }
    
    dd {
        padding-left: 2em;
    }
}

code, kbd, samp {
    font-family: monospace;
    font-size: 1em;
}

dfn, cite, em, i {
    font-style: italic;
}

abbr[title], acronym[title] {
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
    cursor: help;
}

hr {
    border-style: none;
    border-bottom: 1px solid var(--dark-grey);
    margin: 15px 0;
}

address {
    display: block;
    font-style: italic;
}

figure{
    margin-left: 0;
    margin-right: 0;
}