/*-------------------------
*  Grid
*--------------------------*/
$columns: 12;
$gutter: 10px;
$spacing: 20;

/*-------------------------
*  Spacing
*--------------------------*/
$paddings: ('pt': 'padding-top', 'pr': 'padding-right', 'pb': 'padding-bottom', 'pl': 'padding-left');
$margins: ('mt': 'margin-top', 'mr': 'margin-right', 'mb': 'margin-bottom', 'ml': 'margin-left');

/*-------------------------
*  Media Queries
*--------------------------*/
$xs: 480px;
$sm: 767px;
$md: 991px;
$lg: 1190px;
$xl: 1440px;
$xxl: 1700px;

$breakpoints: ('xs': $xs, 'sm': $sm, 'md': $md, 'lg': $lg, 'xl': $xl);

/*-------------------------
*  Colours
*--------------------------*/
$white: #ffffff;
$off-white: #F7F9FA;
$black: #000000;
$light-grey: #EAF1F8;
$dark-grey: #57586E;
$blue: #1539e9;
$blue-secondary: #1500ff;
$dark-blue: #000080;
$dark-navyblue: #0A083B;
$medium-blue: #175CFF;

// custom colours

$colours: ('medium-blue': $medium-blue, 'dark-navyblue': $dark-navyblue, 'dark-grey': $dark-grey, 'off-white': $off-white, 'white': $white, 'black': $black, 'light-grey': $light-grey, 'blue': $blue, 'blue-secondary': $blue-secondary, 'dark-blue': $dark-blue);

/*-------------------------
*  Typography
*--------------------------*/
$base-font: var(--body-font);

$base-fs: 16px;

/*-------------------------
*  Animations
*--------------------------*/
$time: 320ms;
$time_slow: 700ms;

$swing: cubic-bezier(0.55, 0, 0.1, 1);
$swift: cubic-bezier(0.4, 0, 0.2, 1);
$ease: ease;

$transition-default: all $time $ease;