/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
	margin: ($gutter / 2) ($gutter * 2) ($gutter * 2) 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: ($gutter / 2) auto ($gutter / 2) auto;
}

.alignright {
	float: right;
	margin: ($gutter / 2) 0 ($gutter * 2) ($gutter * 2);
}

.alignleft {
	float: left;
	margin: ($gutter / 2) ($gutter * 2) ($gutter * 2) 0;
}

a img.alignright {
	float: right;
	margin: ($gutter / 2) 0 ($gutter * 2) ($gutter * 2);
}

a img.alignnone {
	margin: ($gutter / 2) ($gutter * 2) ($gutter * 2) 0;
}

a img.alignleft {
	float: left;
	margin: ($gutter / 2) ($gutter * 2) ($gutter * 2) 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2.entry-title {
	margin: 5px 0;
}

h1.entry-title {
	margin: 5px 0;
	padding: 5px 0;
}

.entry-content p:after {
	content: "";
	clear: both;
    display: table;
  }

.post-navigation {
	padding: 5px;
}

.nav-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 10px;
	a {
		font-weight: 700;
	}
}
.post-page-numbers.current {
	font-weight: 700;
}

.single-post .sticky {
	border: 1px solid #000000;
	padding: 15px;
}

.gallery-caption {
	font-family: inherit;
}

.bypostauthor {
	font-family: inherit;
}

.wp-caption {
	background: $white;
	border: 1px solid $light-grey;
	max-width: 96%;

	/* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: ($gutter / 2) ($gutter * 2) ($gutter * 2) 0;
}

.wp-caption.alignleft {
	margin: ($gutter / 2) ($gutter * 2) ($gutter * 2) 0;
}

.wp-caption.alignright {
	margin: ($gutter / 2) 0 ($gutter * 2) ($gutter * 2);
}

// .wp-block-quote {
// 	border-left: 3px solid;
//     padding-left: 15px;
// }

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;

	/* Above WP toolbar. */
}
