@each $colour, $hex in $colours {
	.text-#{$colour} {
		color: $hex;
	}

	.background-#{$colour} {
		background-color: $hex;
	}

	.border-#{$colour} {
		border-color: $hex;
	}
}

.has-medium-blue-background-color {
    background-color: #1950D1;
}

.has-medium-blue-color {
    color: #1950D1;
}

.has-deep-navyblue-background-color {
    background-color: #0A083B;
}

.has-deep-navyblue-color {
    color: #0A083B;
}

.has-bluish-dark-grey-background-color {
    background-color: #57586E;
}

.has-bluish-dark-grey-color {
    color: #57586E;
}

.has-light-grey-background-color {
    background-color: #EAF1F8;
}

.has-light-grey-color {
    color: #EAF1F8;
}

.has-off-white-background-color {
    background-color: #F7F9FA;
}

.has-off-white-color {
    color: #F7F9FA;
}

// Customize text selection
::selection {
	background: $black;
	color: $white;
}

::-moz-selection {
	background: $black;
	color: $white;
}