.has-huge-font-size {
	font-size: 84px;
}

.has-big-font-size {
	font-size: 48px;
}

.has-medium-plus-font-size {
	font-size: 36px;
}

.has-medium-font-size {
	font-size: 24px;
}

.has-normal-plus-font-size {
	font-size: 18px;
}

.has-normal-font-size {
	font-size: 16px;
}

.has-tiny-fella-font-size {
	font-size: 14px;
}

// Headings
h1,
.h1 {
	font-family: var(--heading-font);
	font-size: var(--h1-font-size);
	line-height: var(--h1-font-lineheight);
	font-weight: var(--h1-font-weight);
	text-transform: var(--h1-text-transform);

	@media (max-width: #{$md}) {
		font-size: var(--h1-font-size-tablet);
		line-height: var(--h1-font-lineheight-tablet);
	}
	@media (max-width: #{$sm}) {
		font-size: var(--h1-font-size-mobile);
		line-height: var(--h1-font-lineheight-mobile);
	}
}

h2,
.h2 {
	font-family: var(--heading-font);
	font-size: var(--h2-font-size);
	line-height: var(--h2-font-lineheight);
	font-weight: var(--h2-font-weight);
	text-transform: var(--h2-text-transform);

	@media (max-width: #{$md}) {
		font-size: var(--h2-font-size-tablet);
		line-height: var(--h2-font-lineheight-tablet);
	}
	@media (max-width: #{$sm}) {
		font-size: var(--h2-font-size-mobile);
		line-height: var(--h2-font-lineheight-mobile);
	}
}

h3,
.h3 {
	font-family: var(--heading-font);
	font-size: var(--h3-font-size);
	line-height: var(--h3-font-lineheight);
	font-weight: var(--h3-font-weight);
	text-transform: var(--h3-text-transform);

	@media (max-width: #{$md}) {
		font-size: var(--h3-font-size-tablet);
		line-height: var(--h3-font-lineheight-tablet);
	}
	@media (max-width: #{$sm}) {
		font-size: var(--h3-font-size-mobile);
		line-height: var(--h3-font-lineheight-mobile);
	}
}

h4,
.h4 {
	font-family: var(--heading-font);
	font-size: var(--h4-font-size);
	line-height: var(--h4-font-lineheight);
	font-weight: var(--h4-font-weight);
	text-transform: var(--h4-text-transform);

	@media (max-width: #{$md}) {
		font-size: var(--h4-font-size-tablet);
		line-height: var(--h4-font-lineheight-tablet);
	}
	@media (max-width: #{$sm}) {
		font-size: var(--h4-font-size-mobile);
		line-height: var(--h4-font-lineheight-mobile);
	}
}

h5,
.h5 {
	font-family: var(--heading-font);
	font-size: var(--h5-font-size);
	line-height: var(--h5-font-lineheight);
	font-weight: var(--h5-font-weight);
	text-transform: var(--h5-text-transform);

	@media (max-width: #{$md}) {
		font-size: var(--h5-font-size-tablet);
		line-height: var(--h5-font-lineheight-tablet);
	}
	@media (max-width: #{$sm}) {
		font-size: var(--h5-font-size-mobile);
		line-height: var(--h5-font-lineheight-mobile);
	}
}

h6,
.h6 {
	font-family: var(--heading-font);
	font-size: var(--h6-font-size);
	line-height: var(--h6-font-lineheight);
	font-weight: var(--h6-font-weight);
	text-transform: var(--h6-text-transform);

	@media (max-width: #{$md}) {
		font-size: var(--h6-font-size-tablet);
		line-height: var(--h6-font-lineheight-tablet);
	}
	@media (max-width: #{$sm}) {
		font-size: var(--h6-font-size-mobile);
		line-height: var(--h6-font-lineheight-mobile);
	}
}

small,
.small {
	@include font-size(15px, 20px, 0.28px);
}

// alignments
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

// Modifiers
.text-bold {
	font-weight: 700;
}

.text-semibold {
	font-weight: 600;
}

.text-uppercase {
	text-transform: uppercase;
}

.no-line-height {
	line-height: 1em !important;
}

@media (max-width: 991px) {
	body {
		font-size: var(--body-font-size-tablet);
		line-height: var(--body-font-lineheight-tablet);
	}
}

@media (max-width: 767px) {
	body {
		font-size: var(--body-font-size-mobile);
		line-height: var(--body-font-lineheight-mobile);
	}
}